[submodule "LoRaLib"]
	path = LoRaLib
	url = https://github.com/zhgzhg/LoRaLib.git
[submodule "wiringOP"]
	path = wiringOP
	url = https://github.com/zhgzhg/wiringOP.git
[submodule "WiringOP-Zero"]
	path = WiringOP-Zero
	url = https://github.com/zhgzhg/WiringOP-Zero.git
