[submodule "wiringOP"]
	path = wiringOP
	url = https://github.com/zhgzhg/wiringOP.git
[submodule "WiringOP-Zero"]
	path = WiringOP-Zero
	url = https://github.com/zhgzhg/WiringOP-Zero.git
[submodule "RadioLib"]
	path = RadioLib
	url = https://github.com/zhgzhg/RadioLib.git
	branch = linux
